<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>
    <p>
      <%= f.label :username %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :pass %>
    </p>
    <%= f.submit "Login" %>
<% end %>