<%= form_for @user do |f| %>
    <p>
      <%= f.label :username %>
      <br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :password %>
      <br>
      <%= f.password_field :pass %>
    </p>
    <%= f.submit %>
<% end %>
