<h1> Welcome, <%= @user.name %>! </h1>
<%= link_to 'Custom Fields', user_custom_field_path(@user) %>
<br>
<%= link_to 'New Contact', new_user_contact_path(@user) %>
<br>
<br>
<table>
  <thead>
  <th>Email</th>
  <% @user.custom_fields.each do |name, _| %>
    <th>
      <%= name %>
    </th>
  <% end %>
  </thead>

  <% @user.contacts.each do |contact| %>
      <tr>
        <% attribute_keys = contact.attributes.keys - ['_id']%>
        <% attribute_keys.each do |key| %>
          <td>
            <%= contact.attributes[key] %>
          </td>
        <%end%>
      </tr>
  <% end %>
</table>
